.signup-button {
    border-radius: 500px !important;
    /*border-color: rgba(255,255,255,0.6) !important;
    color: rgba(255,255,255,0.6) !important;*/
}

.uk-card {
    border-radius: 5px !important;
}
